<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<title>Kirilisa&rsquo;s Blog</title>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway|Fredericka the Great|IM Fell DW Pica" rel="stylesheet">

		<!-- custom CSS & JS -->
		<link rel="stylesheet" href="/static/css/styles-default.css">
		<link rel="stylesheet" href="/static/css/styles-responsive.css">
	</head>

	<body>
		<header>		  
		  <nav>
				<a href="/" title="home">home</a>
				<a href="/blog" title="blog">blog</a>
				{% if user %} 
				<!--<b>Hello, {{user.username}}!</b>-->
				<a href="/dashboard">dashboard</a>
				<a href="/new-article">new article</a>
				<a href="/logout">log out</a>
				{% else %}
				<!--<b>Hello, guest!</b>-->
				<a href="/register">register</a>
				<a href="/login">log in</a>
				{% endif %}
			</nav>
		</header>

		<main>
		  <section class="content">
		    
		    {% block content %}
		    {% endblock %}
		    
		  </section>

		</main>

		<footer>
			<span>&copy; 2016 Elise Bosse</span>
		</footer>

	</body>
</html>
