{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
  <h1>Log in</h1>
</div>

<div class="loginform">
  <span class="errortext">{{error}}</span>
  <form class="bootstrap-frm" action="/login" method="post">

    <label for="username">Username:</label>
    <input type="text" name="username" value="{{username}}"><br>
    
    <label for="password">Password:</label>
    <input type="password" name="password"><br>

    <input type="submit" value="Log in">

  </form>
</div>

{% endblock %}
